<html>
<head>
    <!-- Required meta tags -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>SupplierStores</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript">
        function showform(form) {
            if (form == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
            else if (form == 'update') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (form == 'delete') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else if (form == 'all') {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            }
            else {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }
        function newSupplierStore() { showform('insert'); }
        function updateSupplierStore(pid) { showform('update'); }
        function deleteSupplierStore(pid) { showform('delete'); }
        function browseSupplierStores() { showform('browse'); }
        function showAll() { showform('all'); }
    </script>
</head>

<body onload="browseSupplierStores()">

    <h1>SupplierStores</h1>

    [ <a href="index.html">Home</a> | <a href="orders.html">Orders</a> | <a href="customers.html">Customers</a> | <a href="donuts.html">Donuts</a> | <a href="stores.html">Stores</a> | <a href="suppliers.html">Suppliers</a> | <a href="suppliersStores.html">suppliersStores</a> ]

    <div id="browse">
        <p><a href="#" onClick="showAll()">Display all forms</a> </p>
        <div class="row justify-content-center">
            <div class="col-auto">
                <table border="1" cellpadding="5" class="table table-responsive">
                    <tr>
                        <th><a href="#" onClick="newSupplierStore()">New</a></th>
                        <th></th>
                        <th>SupplierID</th>
                    </tr>
                    <tr>
                        <td><a href="#" onClick="updateSupplierStore('this.SupplierStoreID')">Edit</a></td>
                        <td><a href="#" onclick="deleteSupplierStore('this.SupplierStoreID')">Delete</a></td>
                        <td align="right">1</td>
                        <td align="right">3</td>

                    </tr>
                    <tr>
                        <td><a href="#" onClick="updateSupplierStore('this.SupplierStoreID')">Edit</a></td>
                        <td><a href="#" onclick="deleteSupplierStore('this.SupplierStoreID')">Delete</a></td>
                        <td align="right">2</td>
                        <td align="right">2</td>
                    </tr>
                    <tr>
                        <td><a href="#" onClick="updateSupplierStore('this.SupplierStoreID')">Edit</a></td>
                        <td><a href="#" onclick="deleteSupplierStore('this.SupplierStoreID')">Delete</a></td>
                        <td align="right">3</td>
                        <td align="right">1</td>
                    </tr>
                </table>
            </div>
        </div>


        <p>&nbsp;</p>
    </div>
    <div id="wrap" class="col-md-12 school-options-dropdown text-center">
        <div id="insert">
            <form method="POST" id="addInter">
                <legend><strong>Add SupplierStore</strong></legend>
                <fieldset class="fields">
                    <label> Supplier ID </label> <input type="text" name="name">
                    <label> Store ID </label> <input type="text" name="email">
                </fieldset>
                <input class="btn btn-primary shadow-none" type="submit" id="addSupplierStore" value="Add SupplierStore">
                <input class="btn btn-primary shadow-none" type="button" value="cancel" onClick="browseSupplierStores()">
            </form>
        </div>
        <p>&nbsp;</p>
        <div id="update">
            <form method="POST" id="UpdateSupplierStore">
                <legend><strong>Update SupplierStore</strong></legend>
                <fieldset class="fields">
                    <!-- <input type="hidden" name="SupplierStoreID" id="updateSupplierStoreID" value="1">-->
                    <label> SupplierID </label> <input type="text" name="name" value="1">
                    <label> Store ID </label> <input type="text" name="description" value="3">
                </fieldset>
                <input class="btn btn-primary shadow-none" type="submit" id="UpdateSaveSupplierStore" value="Save Update SupplierStore">
                <input class="btn btn-primary shadow-none" type="button" value="cancel" onClick="browseSupplierStores()">
            </form>
        </div>
        <p>&nbsp;</p>
        <div id="delete" style="display: block">
            <form method="POST" id="deleteSupplierStore">
                <legend><strong>Delete SupplierStore</strong></legend>
                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>
                    <!--<input type="hidden" name="SupplierStoreID" id="deleteSupplierStoreID" value="1">-->
                    <label><strong>Supplier ID</strong></label> 1
                    <label> <strong>Store ID</strong> </label> 2

                </fieldset>
                <input class="btn btn-primary shadow-none" type="submit" id="DeleteSupplierStore" value="Delete SupplierStore">
                <input class="btn btn-primary shadow-none" type="button" value="cancel" onClick="browseSupplierStores()">
            </form>
        </div>
    </div>


</body>
</html>
